our-leaders {
    clear: both;
}

.our-leaders__data-list-wrapper .our-leaders__data-list:nth-child(1) {
    margin-right: 25px;
}
.our-leaders__data-list-wrapper .our-leaders__data-list:nth-child(2) {
    margin-left: 25px;
}
.our-leaders__data-list {
    display: inline-block;
    width: 46%;
}
