html,
body {
    height: 100%;
}

body {
  background-color: #f0f0f0;
}

img {
  max-width: 100%;
}


/******************
**** Show-Hide ****
*******************/
.show { display: block !important; }
.hide { display: none !important; }
.shown { visibility: visible !important; }
.hidden { visibility: hidden !important; }
